.form_main {
		height:550px;
		width:400px;
		background:linear-gradient(blue,black,blue) ;
		text-align:center;
		margin:100px auto;
		display:flex;
		justify-content:center;
		align-items:center;
		box-shadow:10px 10px white ,20px 20px blue ;
		}
		
.form_main form input 
					{
					text-align:center;
					height:40px;
					width:250px;
					padding-left:10px;
					outline:none;
					background:transparent;
					border:2px solid #fff;
					border-radius:30px;
					margin-top:8px;}
					
.form_main form input::placeholder{color:white;}

.form_main form label{ color:white; font-size:22px;}

.form_main form button{height:30px;width:70px; border-radius:30px; font-size: 15px; color:white; border:none;
 background-color:black;}	
		
.form_main form label span{ color:red;}
						